body {
  background-color: #e8e8e8;
  margin: 0px;
  padding: 0px;
  font-family: helvetica;
}

.container{
  display: flex;
  justify-content: center;
}

.banner{
  /*  background-color: #3373ea;*/
  /*#52ea33 #3373ea #ea5133 #33eaaa*/
  /*background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(51,75,204,1) 100%);*/
  background: radial-gradient(circle, rgba(51,234,170,1) 0%, rgba(37,173,126,1) 100%);
  height: 100vh;
  width: 100vw;
}

.banner-content{
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-logo img{
  width: 100vw;
}

.banner-contact {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
}

.banner-contact a {
  padding: 20px;
  color: black;
  font-weight: bold;
  font-size: 2vw;
  text-decoration: none;
  transition: 0.4s ease-in-out;
}

.banner-contact a:hover {
  color: #e8e8e8;
  transition: 0.2s ease-in-out;
}

.clients{
  /*Photo by <a href="https://unsplash.com/@marjan_blan?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Марьян Блан | @marjanblan</a> on <a href="https://unsplash.com/s/photos/grey?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"*/
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
}

.text{
  width: 300px;
  font-size: 60px;
  background: radial-gradient(circle, rgba(51,234,170,1) 0%, rgba(37,173,126,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
}

.images{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 75%;
}


.clients img{
  width: 250px;
  padding: 30px;
}

.footer{
  height: 200px;
  background: radial-gradient(circle, rgba(51,234,170,1) 0%, rgba(37,173,126,1) 100%);
  display: flex;
  align-items: center;
  justify-content:  center;
  flex-direction: column;
}

.footer a{
  padding: 20px;
  color: black;
  font-weight: bold;
  font-size: 2vw;
  text-decoration: none;
  transition: 0.4s ease-in-out;
}

.footer a:hover {
  color: #e8e8e8;
  transition: 0.2s ease-in-out;
}

.footer img{
  width: 40vw;
}


@media only screen and (max-width: 600px) {
  .footer a{
    font-size: 3vw;
  }
  .banner-contact a {
  font-size: 4vw;
}
.text{
flex-basis: 100%;
}
.images{
  flex-basis: 100%;
}
}
