body {
  background-color: #e8e8e8;
  margin: 0px;
  padding: 0px;
    font-family: helvetica;
}

.container{
  display: flex;
  justify-content: center;
}

.banner{
/*  background-color: #3373ea;*/
  /*#52ea33 #3373ea #ea5133 #33eaaa*/
  /*background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(51,75,204,1) 100%);*/
  background: radial-gradient(circle, rgba(51,234,170,1) 0%, rgba(37,173,126,1) 100%);
  height: 100vh;
  width: 100vw;
  }

.banner-content{
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-logo img{
  width: 100vw;
}

.banner-contact {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
}

.banner-contact a {
  padding: 20px;
  color: black;
  font-weight: bold;
  font-size: 4vw;
  text-decoration: none;
  transition: 0.4s ease-in-out;
}

.banner-contact a:hover {
  color: #e8e8e8;
  transition: 0.2s ease-in-out;
}

.text{
  width: 300px;
  font-size: 60px;
  background: radial-gradient(circle, rgba(51,234,170,1) 0%, rgba(37,173,126,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.clients{
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
}

.images{
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow:
}
.clients img{
  width: 300px;
}

.footer{
  height: 100px;
  background: radial-gradient(circle, rgba(51,234,170,1) 0%, rgba(37,173,126,1) 100%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer a{
  padding: 20px;
  color: black;
  font-weight: bold;
  font-size: 2vw;
  text-decoration: none;
  transition: 0.4s ease-in-out;
}

.footer a:hover {
  color: #e8e8e8;
  transition: 0.2s ease-in-out;
}

.footer img{
  width: 40vw;
}
